__pycache__/card.cpython-37.pyc
__pycache__/card.cpython-38.pyc
__pycache__/card.cpython-39.pyc
__pycache__/client.cpython-38.pyc
__pycache__/deck.cpython-37.pyc
__pycache__/deck.cpython-38.pyc
__pycache__/deck.cpython-39.pyc
__pycache__/game.cpython-37.pyc
__pycache__/game.cpython-38.pyc
__pycache__/game.cpython-39.pyc
__pycache__/gameanim.cpython-38.pyc
__pycache__/picker.cpython-37.pyc
__pycache__/picker.cpython-38.pyc
__pycache__/picker.cpython-39.pyc
__pycache__/player.cpython-38.pyc
__pycache__/player.cpython-39.pyc
__pycache__/popup.cpython-38.pyc
__pycache__/stages.cpython-37.pyc
__pycache__/stages.cpython-38.pyc
__pycache__/.idea/__pycache__.iml
__pycache__/.idea/modules.xml
__pycache__/.idea/workspace.xml
Cards/.DS_Store
Cards/UNO/.DS_Store
Cards/UNO/.idea/modules.xml
Cards/UNO/.idea/UNO.iml
Cards/UNO/.idea/vcs.xml
Cards/UNO/.idea/workspace.xml
.idea/.gitignore
.DS_Store
game.pyc
player.pyc
.saved_game.txt
.serverdata.txt
player.pyc
